.tela-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

mat-form-field{
    width: 75%;
}

.card-left{
    border: 1px solid #292828;
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;

}
.card-right{
    border: 1px solid #292828;
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;
    margin-top: 2rem;
}

.links{
    margin-top: 1rem;
    height: 5vw;
}

.button{
    padding: 10px 20px;
    border: 1px solid #292828;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #292828;
    color: #fff;
}
.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}